.container {
  width: 95%;
  overflow-x: auto;
  // background-color: #fff;
  margin: 32px;
}

.headerTable {
  width: 100%;
  border-collapse: collapse;
}
.bodyTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
  padding: 16px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds slight shadow */
}

.bodyTable tr:first-child td:first-child {
  border-top-left-radius: 12px;
}
.bodyTable tr:first-child td:last-child {
  border-top-right-radius: 12px;
}
.bodyTable tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.bodyTable tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.headerTable {
  // margin-bottom: 16px; /* Space between header and body */
  background: #f7f9fc;
}

.tableGap {
  height: 10px; /* Additional gap */
  background: #f7f9fc;
}

.planHeader {
  background-color: #2d1131;
  color: #fff;
  height: 100px;
  text-align: center;

  th {
    padding: 12px;
  }

  th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.featureColumn {
  width: 40%;
  text-align: left;
}

.planColumn {
  width: 20%;
  text-align: center;
}

.sectionHeader {
  font-weight: bold;
  background-color: #fff;
  padding: 10px;
}

.featureRow {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.feature {
  padding: 8px;
  width: 40%;
}

.checkmark {
  text-align: center;
  color: green;
  font-size: 1.2em;
  width: 20%;
  background-color: #fff;
}
