.category_section {
  padding: 20px;
  height: 80%;
  background-color: #fff;
  border-radius: 16px;
  h3 {
    color: #0a2540;
    font-weight: 700;
    font-size: 20px;
  }
  .category_item {
    cursor: pointer;
    padding: 10px;
    &.active {
      font-weight: bold;
      background-color: #f0f0f0;
      border-left: 4px solid #29102d;
    }
  }
  .category_section_text {
    display: flex;
    justify-content: space-between;
    h3 {
      color: #0a2540;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
