.category_section {
  padding: 20px;
  height: 80%;
  background-color: #fff;
  border-radius: 16px;
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
  .category_item {
    cursor: pointer;
    padding: 10px;
    &.active {
      font-weight: bold;
      border-radius: 8px;
      background-color: #29102d;
      color: #fff;
    }
  }
  .category_section_text {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 16px;
      font-weight: 500;
      .active-class {
        color: #fff;
      }
      .in-active-class {
        color: #0a2540;
      }
    }
  }
}
