@use "../../breakpoints" as *;
.ff-platform-card-wrapper {
  background-color: #f7f9fc;
  .ff-platform-card-heading {
    height: 139px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ff-platform-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    .ff-platform-card {
      margin: 10px 0 0 20px;
    }
    .ff-platform-card-img {
      object-fit: contain;
    }
    .ff-platform-card-div {
      background-color: #29102d;
      height: 60px;
      width: 60px;
      border-radius: 12px;
    }
    .ff-platform-card-mid-content {
      padding: 24px;
      .ff-platform-card-mid-content-header {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }
      .ff-platform-card-mid-content-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #848f9c;
      }
    }
  }
  .ff-platform-test-journey {
    display: flex;
    justify-content: center;
    padding: 80px;
    @include xs {
      padding: 30px;
    }
    @include sm {
      padding: 30px;
    }
    .ff-platform-test-journey-div {
      width: 1120px;
      height: 338px;
      border-radius: 24px;
      background-color: #29102d;
      color: #fff;
    }
  }
}
