.scheduleDemoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  font-family: Arial, sans-serif;
}

.formSection {
  flex: 1;
  max-width: 400px;
  .prevButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #29102d;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  form {
    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: bold;

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        margin-top: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }

      textarea {
        height: 100px;
      }
    }
  }
}

.terms {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  label {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }
}

.scheduleButton {
  background-color: #29102d;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #444;
  }
}

.previewSection {
  flex: 1;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewCard {
  width: 100%;
  height: 250px;
  background-color: #2d0033;
  color: #fff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;

  .previewImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .previewSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .previewSectionOne,
  .previewSectionTwo {
    display: flex;
  }
}
