@use "@/app/_breakpoints.scss" as *;
.ff-homepage-feature-wrapper {
  height: 1140px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  @include xs {
    height: 720px;
  }
  @include sm {
    height: 720px;
  }
  .ff-homepage-feature-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 25px;
    padding-top: 30px;
    background-color: #29102d;
    color: #fff;
    height: 1000px;
    clip-path: ellipse(130% 100% at 50% 0%);
    @include xs {
      height: 500px;
    }
    @include sm {
      height: 550px;
    }

    @include md {
      height: 620px;
    }

    @include lg {
      height: 730px;
    }
    @include xl {
      height: 720px;
    }
    .ff-homepage-feature-main-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 600;
      font-size: 36px;
      span {
        display: block;
      }
      @include xs {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
      @include sm {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
      @include md {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
      }
    }

    .ff-homepage-feature-sub-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include groupXsSmMd {
        text-align: center;
      }
      span {
        display: block;
      }
    }

    // Button section
    .ff-homepage-feature-button {
      width: 160px;
      height: 34px;
      border-radius: 8px;
      border: none;
      background-color: #fff;
      color: #29102d;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .ff-homepage-feature-img-section {
    // overflow: hidden;
    position: relative;
    width: 100%;
    top: -18%;
    left: 0%;
    margin: 0 auto;
    max-width: 87vw;
    height: 100%;
    .ff-homepage-feature-img {
      // position: absolute;
      top: 15%;
      left: 2.5%;
      width: 100vw;
      height: auto;
    }
    @include xs {
      top: -10%;
      left: -2%;
      max-width: 90%;
    }
    @include sm {
      top: -10%;
      left: -2%;
      max-width: 90%;
    }

    @include md {
      top: -20%;
      left: -2%;
      max-width: 90%;
    }

    @include lg {
      top: -30%;
      left: -2.5%;
      max-width: 90%;
    }
    @include xl {
      top: -30%;
      left: 0;
      margin: 0 auto;
      max-width: 85%;
    }
  }
}

.ff-homepage-feature-main-text,
.ff-homepage-feature-sub-text {
  height: 40px;
  opacity: 1; /* Keep it visible initially */
  transition: opacity 0.6s ease-in-out;
  &.paused {
    transition: none; /* This stops the transition */
  }
  &.fade {
    opacity: 1;
  }
}
.ff-homepage-feature-main-text span,
.ff-homepage-feature-sub-text span {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  width: 100%;
  text-align: center;
}

.ff-homepage-feature-main-text span.active,
.ff-homepage-feature-sub-text span.active {
  opacity: 1;
  position: relative;
}

.play-pause {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d3d3d3;
  border-radius: 18px;
  border: none;

  cursor: pointer;
}

.custom-prev-arrow {
  position: absolute;
  left: -60px;
  top: 60px;
}
.custom-next-arrow {
  position: absolute;
  top: 60px;
  right: -60px;
}
.arrow-btn {
  &:hover {
    background-color: #d3d3d3;
    border-radius: 18px;
  }
}
